* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
} 
.logo {
    width: 220px;
    height: 120px;
    position: absolute;
    top:.7rem;
    left:8rem;
    
} 
body {
    font-family: 'Noto Sans', sans-serif;
    width: 85%;
    margin: 0 auto;
}
.header-container {      
    padding: 8em 0;    
    background-image: url(images/city-lit-up1.jpg),
                      radial-gradient(#888,#111);
    background-size: 100%;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color:white;
}
.heading-sub-container {
    text-align: center;
    

}
.header-heading {
    text-transform: uppercase;
    font-size: 4rem;
    
}
.header-button {
    color:white;
    background: #c92412;
    text-decoration: none;
    padding:3px;
    display: inline-block;
    border: 3px solid #c92412 ;
    border-radius: .5rem;
    margin: 32px;
}
.sec-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 3rem 0;
}
@media screen and (max-width: 880px) {
 
    .sec-images {
        grid-template-columns: 1fr;
    }   
}
.section1 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.sec-shoe1, .sec-shoe2, .sec-shoe3 {
    
    width: 250px;
    height: 250px;
    padding: 1rem;
    border-radius: 50%;
    transform: rotate(-45deg);
}
.featured-item {
    padding: 1rem auto;
    position: relative;
    transition: all .25s ease-in-out;
   
}
.featured-item:hover {
    transform: scale(1.2);
    opacity: 1;
}

.featured-headig {
    color:#474646;
    padding: 5rem 0 0 0;
     text-transform: uppercase;
    
}
.section-heading {
    text-align: center;
    padding: 2em 0;
}

a {
    text-decoration: none;
    color:#1e2c59;
}

 .featured-price {
     color:#454343;
    opacity: 1;
    font-weight: 700;
    display: block;
     font-size: 2rem;
}
section-heading {
    font-size: 3rem;
  
}
.product-heading {
    text-transform: uppercase;
    font-size: 1.3rem;
    padding-top: .25rem;
}
.product-img {
    height: 150px;
    width: 360px;
    transform: rotate(-45deg);
    transition: all .5s;
    
}
.product-img:hover {
    transform: scale(1.2) rotate(-45deg);
}
.product-img2 {
    height: 199px;
    width: 410px;
    
}
.product-img3 {
    
    height: 170px;
    width: 400px;
}
.article {
    padding:0 0 0 2rem;
    width: 65%;
    height: 32vh;
    margin: 0 auto;
    margin-bottom: 9rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: end;
    background-image: radial-gradient(#ed9666,#e35d14);
    border-radius: 20px;
}
@media screen and (max-width: 1000px) {
    .article {
        display: grid;
        
        width: 85%;
        height: auto;
        grid-template-columns: 3fr 1fr;
    } 
}
.article2 {
    background-image: radial-gradient(#a4e3ed,#08a5bd);
}
.article3 {
    background-image: radial-gradient(#eda4b5,#e6758f);
}

.productimg-container {
    display: grid;
    grid-template-columns: .25fr 3fr;
}
.article-container {
    justify-items: center;
    padding:.1rem;
    display: grid;
    grid-template-rows: .5fr 1fr 1fr;
}
.article-button {
    padding-top: 1rem;
}
.buy-now {
    border-radius: 10px;
    padding:6px 10px;
    font-size: 1.2rem;
    font-weight: 700;
    color:#575250;
    transition: all .20s ease-in-out;
}
.buy-now:hover {
    color:white;
    background: #454241;
    transform: scale(1.3);
}
.section3-container {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.section3-heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    
}
.extra-images {
    height: 150px;
    width: 220px;
    transition: transform .25s ease-in-out;
}
.extra-images:hover {
    transform: scale(1.2);
}
.section3-link {
    margin:3rem;
    
}
.footer {
    padding:3rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: radial-gradient(#262424,#120e0e);
    color:white;
    margin-top: 10rem;
}
.form-input {
    padding:.5rem;
    font-size: 1.2rem;
    margin: 3rem 0 3rem .5rem;
}
.footer-media a {
    
    color: aqua;
}
.footer-submit {
    margin: 1rem 0 0 13rem;
    padding:.30rem 1rem;
    font-size: 1.1rem;
    border-radius: 2px;
    background: #919189;
}
.footer-contact {
    padding: 1rem;
    margin: .25rem;
    display: grid;
    grid-template-columns: 1fr auto;
}
.footer-email {
    color:aqua;
}


#copyright {
    color:#595956;
    list-style: none;
    text-align: center;
    margin: 3rem 1rem 1rem 8rem;
}
.garbage-h1 {
    padding:3rem;
    text-align: center;
    margin:5rem;
}
.garbage-h1::before {
    content: '';
    background: red;
    display: block;
    width: 30px;
    height: 40px;
}




